@import '../common/colors';
@import '../common/typography';

.dealsTable{
  /*padding: 0;*/
  display: table;
  margin: 0 auto;
}

.restaurantLogo{
  /*width: 100%;*/
  width: 20vw;
  max-width: 86px;
   border-radius: 5px;
   padding: 2vw 0;
}
.bankLogo{
  /*width: 100%;*/
  
  width: 11vw;
  max-width: 53px;
  display: block;
    margin: auto;
   border-radius: 5px;
   padding: 1vw 0;
}

.tdLogo{
  /*width: 200%;*/
  padding: 0;
  margin: 0;
  vertical-align:top;
  margin-left: auto;
  margin-right: auto;
  align: center;
}
.tdBank{
  /*width: 200%;*/
  padding: 0;
  margin: 0;
  vertical-align:top;
  margin-left: auto;
  margin-right: auto;
  align: center;
}

.textRestaurantName{
  /*font-size: 3.8vw;*/
  font-size: 13px;
  color: #333333;

}

.textBankName{
	font-size: 10px;
  /*font-size: 3.3vw;*/
  color: #8E969D;

}

.textCardDeal{
  /*font-size: 3.5vw;*/
  font-size: 12px;
  color: #8E969D;
}

.textStandardDeal{
  /*font-size: 3.5vw;*/
  font-size: 12px;
  color: #8E969D;
}

.textCities{
  /*font-size: 3.2vw;*/
  font-size: 12px;
  color: #8E969D;
}
.restaurantWrapper{

  margin: auto; 
}

.bankLogoWrapper{
  margin: auto; 
  text-align: center;
}

.tdCenterCol{
  padding: 1vw 2vw;
}

.trSingleDealRow{
  border-bottom: 1px solid #783600;
  padding-top: 200px;
  padding-bottom: 11px;
}

.homeWrapper{
	/*width: 100%;*/
	max-width: 980px;
	display: table;
  margin: 0 auto;
  background-color: white;
  border: 1vw solid #783600;
  border-radius: 20px;
  padding: 10px;
}

.wellWrapper{
	max-width: 550px;
	display: table;
  margin: 0 auto;
}